backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==3.0.2
boto==2.49.0
boto3==1.9.57
botocore==1.12.57
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
Click==7.0
configparser==3.5.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
docutils==0.14
en-core-web-sm==2.0.0
entrypoints==0.2.3
enum34==1.1.6
Flask==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gensim==3.6.0
h5py==2.8.0
idna==2.7
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.1.0
mistune==0.8.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nbconvert==6.3.0
nbformat==4.4.0
neo4j-driver==1.7.1
neobolt==1.7.3
neotime==1.7.2
nltk==3.4
notebook==5.7.2
numpy==1.15.4
pandocfilters==1.4.2
pathlib==1.0.1
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
plac==0.9.6
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.3.0
python-dateutil==2.7.5
pytz==2018.7
pyzmq==17.1.2
qtconsole==4.4.3
regex==2018.1.10
requests==2.20.1
s3transfer==0.1.13
scandir==1.9.0
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.7.1
spacy==2.0.18
terminado==0.8.1
testpath==0.4.2
thinc==6.12.1
toolz==0.9.0
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
